{
    "interface_password": "...",
    "session_secret_key": "...",
    "vars":{
        "house_name": "...",
        "weather_location" : "Location - State"
    },
    "weather" : {
        "historical_data_location" : "/srv/history_weather",
        "historical_data_prefix" : "prefix",
        "default_chart_gap" : 500,
        "forecast_iframe_address" : "...",
        "forecast_link_address" : "..."
    },
    "buderus":{
        "download_secret" : "...",
        "gateway_ip" : "http://192.168.1.x",
        "gateway_secret" : "...",
        "gateway_password" : "...",
        "historical_data_location" : "/srv/history_buderus"
    },
    "solaredge": {
        "api_key" : "...",
        "site_id" : "..."
    },
    "tesla" : {
        "gateway_ip" : "https://192.168.1.x",
        "gateway_email" : "...",
        "gateway_password" : "..."
    },
    "elios4you" : {
        "device_ip" : "192.168.1.x",
        "device_port" : 5001
    },
    "surveillance" : {
        "camera1" : {
            "ip" : "192.168.1.x",
            "rtsp_port" : "554",
            "username" : "...",
            "password" : "...",
            "stream" : "main"
        },
        "camera2" : {
            "ip" : "192.168.1.x",
            "rtsp_port" : "554",
            "username" : "...",
            "password" : "...",
            "stream" : "main"
        },
        "camera3" : {
            "ip" : "192.168.1.x",
            "rtsp_port" : "554",
            "username" : "...",
            "password" : "...",
            "stream" : "main"
        }
    }
}