
#appcontainer{
    padding: 20px;
}


.card-title {
    font-weight: bold;
}

@media only screen and  (max-width: 30em) {
    .card {
        width: 100%;
    }  
}

@media only screen and  (min-width: 31em) {  
    .card {
        width: 18rem;
    } 
}

.card{
    padding-top: 1.5em;
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    margin-bottom: 10px;
}

.card-footer {
    border-radius: 0 0 2em 2em !important;
}

.top_img{
    color: rgb(66, 66, 66);
}

.btn {
    width: 100%;
}