canvas{
    height: 400px;
}

@media only screen and  (max-width: 43em) {  
    .right-hr {
        border-right: 1px solid gray;
    }
}

@media only screen and  (min-width: 43em) {  
    .right-hr {
        border-right: none;
    }
}

.container {
    min-width: 90%;
}

.arrow {
    margin-left: 1em;
    margin-right: 1em;
}