{% set site = teslaData["aggregates"]["site"]["instant_power"] %}
{% set load = teslaData["aggregates"]["load"]["instant_power"] %}
{% set battery = teslaData["aggregates"]["battery"]["instant_power"] %}

{% if battery > 0 %}
    {% set dischargeEstimation = (27 * teslaData['batteryPercentage']/100) / battery|abs %}
{% elif battery < 0 %}
    {% set chargeEstimation = (27 - 27 * teslaData['batteryPercentage']/100) / battery|abs %}
{% endif %}
<!DOCTYPE html>
<html>
    <head>
        <title>Impianto solare</title>
 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.1/chart.umd.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/2.1.2/chartjs-plugin-annotation.js"></script>        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
             
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/navbar.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/batteries.css') }}">

        <script src="{{ url_for('static', filename='js/custom_linechart.js') }}" ></script>
        <script src="{{ url_for('static', filename='js/batteries.js') }}" ></script>

        
        <style>
            #batterypercentageprogress{
                width: {{ teslaData['batteryPercentage'] }}%
            }
        </style>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>

        <!-- Nav Bar -->
        {% include "navBar.html" %}
        
        <!-- Page content -->
        <div class="container pagecontainer">
            <div class="row">

                <div class="col-md-5">
                    <div class="card">
                        <h3>Produzione istantanea</h3>
                        <hr />
                        <div>
                            <div class="col">
                                <div class="row">
                                    <div class="container panel" id="panel">
                                        <!-- energy usage chart -->
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="progress progress-bar-horizontal">
                                            <div class="progress-bar progress-bar-striped bg-success" id="batterypercentageprogress" role="progressbar" aria-valuenow="{{ teslaData['batteryPercentage'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                                            <h5 class="justify-content-center d-flex position-absolute w-100" id="batterypercentage">{{ teslaData['batteryPercentage'] }}%</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        <hr />
                        <div class="container" style="text-align: center;">
                            <p>Versione: {{ teslaData["version"] }}</p>
                        </div>
                    </div>
                    <div class="card">
                        <h4>Stato batterie</h4>
        
                        {% if teslaData['batteryPercentage'] == 100 %}
                            Le batterie sono cariche
                        {% else %}
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Stato</td>
                                    <td>
                                        {% if battery < 0 %}
                                            caricando
                                        {% else %}
                                            scaricando
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>

                                    {% if battery < 0 %}
                                        <td>Tempo carica stimato</td>
                                        <td>{{ chargeEstimation | round(1) }} ore</td>
                                    {% elif battery > 0 %}
                                        <td>Tempo scarica stimato</td>
                                        <td>{{ dischargeEstimation | round(1) }} ore</td>
                                    {% else %}
                                        <td>Tutto ciò che è prodotto è pure consumato</td>
                                        <td></td>
                                    {% endif %}
                                </tr>
                                
                            </tbody>                   
                        </table>
                        {% endif %}
                    </div>
                </div>
                
                <!-- PRODUZIONE GIORNALIERA -->
                <div class="col-md-7">
                    <div class="card">
                        <div class="container">
                            <h3>Produzione giornaliera</h3>
                            <hr />
                            <!-- Date pickers -->
                            <div class="row justify-content-center gx-5 align-items-end">
                                <div class="col-auto form-group">
                                    <label for="day_production" class="form-label">Data</label>
                                    <input
                                        type="date"
                                        id="day_production"
                                        class="form-control"
                                        onchange="generateProductionChartData(false)"
                                    />
                                    <span class="input-group-text">
                                        <strong id="dailyenergygenerated">- kWh</strong>
                                    </span>
                                </div>
                                <div class="col-auto form-group">
                                    <label for="day_production_compare" class="form-label">Confronta con</label>
                                    <input
                                        type="date"
                                        id="day_production_compare"
                                        class="form-control"
                                        onchange="generateProductionChartData(true)"
                                    />
                                    <span class="input-group-text">
                                        <strong id="dailyenergygenerated_compare">- kWh</strong>
                                    </span>
                                </div>
                            </div>

                            <!-- <div class="row justify-content-center">
                                <button class="btn btn-secondary compare_btn" type="button" onclick="generateProductionChartData(true)">Confronta</button>
                                <button class="btn btn-alert compare_btn" type="button" onclick="generateProductionChartData(false)">Rimuovi confronto</button>
                            </div>
                             -->

                            <canvas id="production-chart"></canvas>

                            
                        </div>
                    </div>

                    <div class="card">
                        <!-- RESISTENZA BOOST -->
                        <div class="container">
                            <h3>Resistenza (<span id="reducerstatus"></span><span id="reducerremainingtime"></span>)</h4>
        
                            <div class="row">
                                
                                <div class="col col-resistenza">
                                    <h5>Cambia stato</h5>
                                    <div>
                                        <input type="radio" id="setoff" name="switchresistenza" value="off">
                                        <label for="setoff">Off</label>
                                    </div>
                                    <div>
                                        <input type="radio" id="setauto" name="switchresistenza" value="auto">
                                        <label for="setauto">Automatico</label>
                                    </div>
                                    
                                    <input type="button" class="btn btn-secondary" value="Cambia stato" name="changestatus" id="changestatus" onclick="changePowerReducerStatus()">
                                    <p id="switchresult"></p>
                                        
                                </div>
        
                                <div class="col col-resistenza">
                                    <h5>Boost</h5>
                                    <p>
                                        Attiva la resistenza in boost fino alle ore
                                    </p>
                                    <input type="text" id="endtime" name="endtime" placeholder="hh:mm">
                                    <input type="button" class="btn btn-secondary" value="Boost" name="boost" id="boost" onclick="sendBoost()">
                                    <p id="boostresult"></p>
                                </div>
        
                            </div>
                        </div>
        
                        <hr />
        
                        <!-- TIMER SETTIMANALE -->
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <button class="btn btn-secondary" onclick="generateScheduleTimer()">Visualizza timer automatico</button>
                                </div>
                            </div>
                            <div class="row" id="schedule_legend" hidden>
                                Legenda:
                                <div class="timeslot slot0"></div> OFF
                                <div class="timeslot slot1"></div> BOOST
                                <div class="timeslot slot2"></div> AUTO
                            </div>
                            <div id="schedule">
                                <!-- schedule -->
                            </div>
                        </div>
                    </div>
                    

                    <!-- DETTAGLI IMPIANTO -->
                    <div class="card">
                        <h2>Dettagli produzione</h2>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Oggi</td>
                                    <td>{{ siteDetails["lastDayEnergy"] }} kWh</td>
                                </tr>
                                <tr>
                                    <td>Mese</td>
                                    <td>{{ siteDetails["lastMonthEnergy"] }} kWh</td>
                                </tr>
                                <tr>
                                    <td>Anno</td>
                                    <td>{{ siteDetails["lastYearEnergy"] }} kWh</td>
                                </tr>
                            </tbody>                   
                        </table>
                    </div>

                    
                    
                </div>

            </div>
        </div>


        <script>
            today = new Date();
            document.getElementById("day_production").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
            
            generateProductionChartData();
            getCurrentUsageGraph();
            getE4uOnlineData();
            setInterval(getCurrentUsageGraph, 1000);
            setInterval(getBatteryPercentage, 5000);
            setInterval(getE4uOnlineData, 5000);
        </script>
        

    </body>
</html>