<!DOCTYPE html>
<html>
    <head>
        <title>Casa {{ vars["house_name"] }}</title>
        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
                
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    
    </head>
    <body>

        <section class="vh-100" style="background-color: #979797;">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card shadow-2-strong" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">
                                <h1 class="mb-5 fw-bold">Casa {{ vars["house_name"] }}</h1>
                                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Accedi</h5>
                                <form method="POST" action="/login">

                                    <div class="form-outline mb-4">
                                        <input type="password" id="password" name="pass" placeholder="Password" class="form-control form-control-lg" />
                                    </div>
                                    
                                    <input class="btn btn-secondary btn-lg btn-block" value="Accedi" type="submit">
                                    <hr class="my-4">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </body>
</html>